*{margin: 0;}
#header
{
    background-color: #1a1a1a;
    color: white;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    max-width: 37.5rem;
    margin: auto;
}
h1
{
    text-align: center;
    font-size: 2.5rem;
}
.nav
{
    list-style-type: none;
    display: inline;
    font-size: 2rem;
    padding-left: 3.75rem;
    padding-right: 1.875rem;
}
#menu
{
    text-align: center;
    background-color: #034747;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    max-width: 37.5rem;
    margin: auto;
    box-sizing: border-box;
}
a
{
    color: white;
    text-decoration: none;
}
#main-content
{
    background-color: #1a1a1a;
    color: white;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 1rem;
    max-width: 37.5rem;
    margin: auto;
}
#footer
{
    background-color: #1a1a1a;
    color: white;
    max-width: 37.5rem;
    margin: auto;
}
h2
{
    text-align: center;
    font-size: 2rem;
}
h3
{
    padding-left: 1.875rem;
    font-size: 1.5rem;
}
#about
{
    text-align: center;
}
p
{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    font-size: 1rem;
}
img
{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    width: 100%;
}
li{
    font-size: 1rem;
}
ul{
    font-size: 1rem;
}
ol{
    font-size: 1rem;
}
